<section class="top-intro">
  <h1 class="top-intro__title">What is GCPUG?</h1>
  <div class="top-intro__logo">
    <img width="200" height="174" src="assets/img/logo_only.jpg" />
  </div>

  <p class="top-intro__text">
    GCPUG ( ジーシーパグ ) は Google Cloud Platform
    を普及させることを目的とし、Google と共に GCP
    をより良くし、盛り上げていくユーザーグループです。
  </p>
  <p class="top-intro__text">
    私たちに共感していただける方なら、GCPUG への参加は自由です。一緒に GCP
    を盛り上げていきましょう。
  </p>
  <p class="top-intro__text">
    GCPUG はどなたでも参加できます。 GCP
    をすでにお使いの方も、これから初めようと思っている方も歓迎します。
  </p>

  <div class="top-intro__join">
    <a
      mat-raised-button
      color="accent"
      target="_blank"
      href="https://join.slack.com/t/gcpug/shared_invite/enQtNDMzNjM1Njc3NDkyLWE1Y2U5M2YxZDZkMzIxNWNhOGQ4MDE0YjNmZTI1OGI5NDhhYjUyOTQ5MDU4ZWZjNjg1YTQ3YjcwM2Y1Y2U5NWM"
      >Join Slack</a
    >
  </div>
</section>

<section class="top-info">
  <ul class="top-info__list">
    <li class="top-info__list-item">
      <mat-card>
        <div class="card-icon">
          <mat-icon aria-hidden="false" aria-label="Know-how" color="primary">
            emoji_objects
          </mat-icon>
        </div>
        <mat-card-title> ノウハウ </mat-card-title>
        <mat-card-content>
          <p>
            GCP のノウハウを共有するためのリポジトリとして
            <a target="_blank" href="https://github.com/gcpug/nouhau">
              nouhau
            </a>
            を作成しています。 これから GCP を始めようと思っている方には
            <a
              target="_blank"
              href="https://github.com/gcpug/nouhau/tree/master/general/note/link"
            >
              GCP お役立ち Link 集
            </a>
            がおすすめです。
          </p>
          <p>
            あなたがすでに GCP を利用していてノウハウを持っている場合は、ぜひ
            Pull Request をお願いします。
          </p>
        </mat-card-content>
      </mat-card>
    </li>

    <li class="top-info__list-item">
      <mat-card>
        <div class="card-icon">
          <mat-icon aria-hidden="false" aria-label="SNS" color="primary">
            groups
          </mat-icon>
        </div>
        <mat-card-title> SNS </mat-card-title>
        <mat-card-content>
          <p>
            twitter のハッシュタグは
            <a
              target="_blank"
              href="https://twitter.com/hashtag/gcpug?f=tweets&vertical=default&src=hash"
            >
              #gcpug
            </a>
            GCP
            のアップデート情報やオフラインイベントの交流などに利用しています。
          </p>
        </mat-card-content>
      </mat-card>
    </li>
    <li class="top-info__list-item">
      <mat-card>
        <div class="card-icon">
          <mat-icon aria-hidden="false" aria-label="禁止事項" color="primary">
            error_outline
          </mat-icon>
        </div>
        <mat-card-title> 禁止事項</mat-card-title>
        <mat-card-content>
          <p>GCPUG は GCP のナレッジの共有を目的としたコミュニティです。</p>
          <ul>
            <li>他社批判をしない（比較は Welcome）</li>
            <li>お金儲けに使わない</li>
            <li>誹謗中傷をしない</li>
            <li>迷惑行為をしない</li>
            <li>内輪ネタにしない</li>
            <li>来るものを拒まない</li>
            <li>押し売りをしない</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</section>
