<footer class="footer">
  <div class="footer-content">
    <dl class="footer-links">
      <dt>Links</dt>
      <dd><a target="_blank" href="https://github.com/gcpug/">GitHub</a></dd>
      <dd>
        <a
          target="_blank"
          href="https://groups.google.com/a/gcpug.jp/forum/#!forum/users"
          >Google Group</a
        >
      </dd>
      <dd>
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UCCw7gdgXcnxarKCEGUFELAQ"
          >YouTube</a
        >
      </dd>
      <dd>
        <a target="_blank" href="https://spanner.gcpug.jp/">Public Spanner</a>
      </dd>
    </dl>
  </div>
  <div class="footer-credit">
    <div class="footer-credit__text">
      Made by <a target="_blank" href="https://angular.io/">Angular</a> &amp;
      <a target="_blank" href="https://material.angular.io/"
        >Angular Material</a
      >
    </div>
  </div>
</footer>
